{% extends 'base.html' %}
{% block content %}

<div class="row">
    <!-- Left Sidebar -->
    <!-- Load the sidebar here -->
    {% include 'dashboards/sidebar.html' %}

    <!-- Main Content Area -->
    <div class="col-md-9">
        <h2>All Categories</h2>
        <a href="{% url 'add_category' %}" class="btn btn-dark text-light float-right mb-2">Add Category</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Category Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{category}}</td>
                    <!-- category string representation is category_name field -->
                    <td>{{category.created_at}}</td>
                    <td>{{category.updated_at}}</td>
                    <td>
                        <a href="{% url 'edit_category' category.slug %}"><i
                                class="fa fa-edit text-success"></i></a>&nbsp;&nbsp;
                        <form action="{% url 'delete_category' category.slug %}" method="POST" style="display:inline;"
                            onsubmit="return confirm('Are you sure?');">
                            {% csrf_token %}
                            <button type="submit" style="background:none; border:none; padding:0;">
                                <i class="fa fa-trash text-danger"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}