{% extends 'base.html' %}

{% block content %}


<div class="row">
    <!-- Left Sidebar -->
    <!-- Load the sidebar here -->
    {% include 'dashboards/sidebar.html' %}

    <!-- Right Side Content -->
    <div class="col-md-9">
        <p>Logged in as {{user}}</p>
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Total Categories</div>
                    <div class="card-body text-center">
                        <h5>{{ categorys_count }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Total Posts</div>
                    <div class="card-body text-center">
                        <h5>{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}