{% extends 'base.html' %}

{% block content %}


<div class="row">
    <!-- Left Sidebar -->
    <div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
            <a href="" class="nav-link text-dark bg-warning">Dashboard</a>
            <a href="" class="nav-link text-dark">Categories</a>
            <a href="" class="nav-link text-dark">Posts</a>
            <a href="" class="nav-link text-dark">Logout</a>
        </div>
    </div>

    <!-- Right Side Content -->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Total Categories</div>
                    <div class="card-body text-center">
                        <h5>{{ categorys_count }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Total Posts</div>
                    <div class="card-body text-center">
                        <h5>{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}