{% extends 'base.html' %}
{% block content %}
<div class="mb-4">
    {% if keyword %}
        <h3>Search Results for "{{ keyword }}"</h3>
    {% else %}
        <h3>All Published Posts</h3>
    {% endif %}
</div>
{% if blogs %}
{% for blog in blogs %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ blog.title }}</h2>
        <p class="card-text">{{ blog.short_description }}</p>
        <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ blog.created_at }} by {{ blog.author }}
    </div>
</div>
{% endfor %}
{% else %}
<p>No results found for "{{ keyword }}". Please try again with different keywords.</p>
{% endif %}

{% endblock %}